<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ITBootcamp Final Project">
    <test name="Vue Tests">
        <classes>
            <class name="Tests.LoginTests"/>
            <class name="Tests.SignupTests"/>
            <class name="Tests.AdminCitiesTests"/>
            <class name="Tests.AuthRoutesTests"/>
            <class name="Tests.BasicTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->